/Instance-Comparison-Engine/build/classes/
/Instance-Comparison-Engine/build/test/classes/
Instance-Comparison.iml
Instance-Comparison-Engine/misc/.ipynb-checkpoints
Instance-Comparison-Engine/nbproject/private
Instance-Comparison-Engine/core/src/test/resources/datasets
Instance-Comparison-Engine/core/src/test/resources/redundancy
Instance-Comparison-Engine/core/src/test/resources/similarity
nbproject.properties
Instance-Comparison-Engine/build
